{% extends 'blog/base.html' %}


{% block content %}

  <h1>About</h1>
  <p>
    We are a small team working on a forecasting mobile application and until product launch, this website aims to share some forecasting insights that may help you find the waves you’re looking for, better read conditions and at the very least make you sound like you know more than you did!

    If you would like to ask a question about anything or get in touch or even involved, please feel free to send us a message.
  </p>

  <img src="{% static 'surf_home.jpg' %}" alt="Smiley face" height="500" width="750">

{% endblock %}
