{% load static %}

<html>

<header class="header">
    <title>SIGS  blog</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</header>

<body>

<section class="landing-section">
  <h1 class="brand"><a href="{% url 'post_list' %}">Cold Water Women Surf Blog</a></h1>
  <h1></h1>
  <h2>

  </h2>
</section>




</body>
</html>
