{% load static %}

<html>

<header class="header">
    <title>SIGS</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</header>

<body>

<section class="landing-section">
  <h1 class="brand"><a href="{% url 'post_list' %}">Should I Go Surfing</a></h1>
  <h1></h1>
  <h2>

  </h2>
</section>




</body>
</html>
