
/*LANDING PAGE*/
.landing-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("/static/surfboard.jpg") no-repeat center center fixed;
  background-size: cover;
}

A.class1 {
  font-size: 150px;
  color: #ffea00;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}

.page-header {
    background-color: #282828;
    margin-top: 0;
    padding: 10px 10px 10px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FF008B;
    font-size: 46pt;
    text-decoration: none;
}

/*BASE- LOG IN/USER/NEW POST*/
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #2E86C1;
    float: right;
    font-size: 14pt;
    padding: 20px 20px 20px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}



.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}




.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  height:60px;
  color: white;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #FF008B;
  text-align: center;
  position: fixed;
}
