
/*LANDING PAGE*/
.landing-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("/static/surfboard.jpg") no-repeat center center fixed;
  background-size: cover;
}

A.class1 {
  font-size: 150px;
  color: #ffea00;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 80px;
  color: #ffea00;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}


html, body
{
    height: 100%;
    margin: 0;
}

/*NAVBAR*/
.page-header {
    height: 100px;
    background-color: #3843d0;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #fff;
    font-size: 46pt;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/*BASE- LOG IN/USER/NEW POST*/
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #6ecfbd;
    float: right;
    font-size: 16pt;
    padding: 20px 20px 20px;
    font-family: 'Bebas Neue', cursive;
}

.content {
    margin-left: 40px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}



.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}


.footer {
    height: 100px; /*Push must be same height as Footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3843d0;
    height:60px;
    /*color: white;*/
    text-align: center;
     }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #F2F2F2;
    text-align: center;
    position: fixed;
     }
